services:
  postgresql_db:
    image: postgres
    container_name: postgresql_db
    restart: unless-stopped
    init: true
    environment:
      POSTGRES_USER: "$POSTGRES_USER"
      POSTGRES_PASSWORD: "$POSTGRES_PASSWORD"
      POSTGRES_DB: "$POSTGRES_DB"
      PGUSER: username
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U preemer -d preemer'"]
      interval: 1s
      timeout: 5s
      retries: 10
  rubadb:
    image: atareao/rubadb
    container_name: rubadb
    restart: always
    init: true
    environment:
      SCHEDULE: "0 3 * * *"
      MARIADB_HOST: "MARIADB_HOST"
      MARIADB_PORT: "MARIADB_PORT"
      MARIADB_PASS: "MARIADB_PASS"
      POSTGRESQL_HOST: postgresql_db
      POSTGRESQL_PORT: 5432
      POSTGRESQL_USER: "$POSTGRES_USER"
      POSTGRESQL_PASS: "$POSTGRESQL_PASS"
    volumes:
      - backup_db:/app/backup/db
      - backup_local:/app/backup/local
      - ./config:/app/.config/rustic


volumes:
  backup_db: {}
  backup_local: {}
